/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MyFont; src: url('../fonts/MyFont1.otf');
}
/*---------general theme---------*/
body {
    max-width: 1920px;
    font-family: MyFont, sans-serif;
    color: #3f1813;
    line-height: 1.6;
    margin: 0 auto;
}
.home{
    background-color: #FED5C6;
}

.portfolio{
    background-color: #FFF3EF;
}
.navbar1{
    background-color: #FFF3EF;
    padding: 0 10px 0 0;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.navbar2{
    background-color: #FED5C6;
    padding: 0 10px 0 0;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.name{
    padding-left: 20px;
}

/*---------home settings---------*/

.intro{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.intro-text{
    padding: 5% 0 0 10%;
    margin-top: 200px;
}

.intro-img{
    border-radius: 120px 120px 20px 20px;
    width: 300px;
    height: 400px;
    margin-top: 100px;
}
.about-me{
    text-align: center;
    width: 1000px;
    margin: 100px auto;
    background-color: #FFF3EF;
    border-radius: 20px;
    padding: 20px;
}

.links{
    padding-right: 20px;
}


/*---------main page/portfolio settings---------*/

.header{
    background-color: #ffe8df;
    border-radius: 20px;
    margin: 50px auto 30px;
    padding: 10px;
    text-align: center;
    width: 90%;
}

.internship-project{
    display: flex;
}
#internship-item{
    margin-left: 30%;
}

.portfolio-item{
    background-color: #FED5C6;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 80px;
    text-align: center;
    display: inline-block;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: dotted 10px white;
}

.myWork{
    width: 700px;
    margin-top: 50px;
    margin-left: auto; 
    margin-right: 0;
}

.myWork p{
    text-align: left;
}

.myWork video {
    border-color: #FED5C6;
    object-fit: cover !important;
    border-radius: 20px !important;
    width: 500px;
    height: 250px;
    margin-top: 10px;
 }

.school-projects{
    text-align: center;
}

button{
    font-family: MyFont, sans-serif;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px auto 10px auto;
    cursor: pointer;
    border-radius: 10px;
}
.personal-projects h3{
    padding-top: 20px;
    font-size: 2rem;
    text-align: center;
}

.content{
    display: flex;
}

.music-project{
    background-color: black;
    color: #FFF3EF;
    height: 550px;
    text-align: center;
}


.music-project p{
    width: 70%;
    margin: 120px auto 150px;
}

.music-project img{
    height: 250px;
    width: 250px;
    margin-right: -200px;
    margin-top: 50px;
}

.button1{
    background-color: #ffe8df;
}

.button2{
    background-color: #ffddd1;
}

/*---------contact settings---------*/


/*---------other settings--------*/

a {
    color: #3f1813;
}
  
a:visited {
    color: #3f1813;
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: brown;
}

.fixed{
    width: 70%;
}

.flex-item{
    flex-grow: 1;
}